
/build
/dist
/__pycache__
/.idea
image2.png
image1.png
njk.png
njk.png
test.py
test2.py
test.py
test2.py
/images
*.png
log_exo_itokiana.xlsx
log_exo_itokiana.txt
000-Mianatra2.lnk
test3.py
test2.py
test.py
rename_cfg_file.py
video_to_mp3.spec
Mianatra2.spec
.idea/workspace.xml
Mianatra2.exe
